body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

section {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

#water-level-graph {
  height: 300px; /* Adjust the height based on your design */
  /* Add additional styles for the graph container */
}

#system-state {
  font-size: 18px;
  font-weight: bold;
  color: #4caf50; /* Green for NORMAL state */
}

#valve-control-section {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="range"] {
  width: 80%;
  margin: 0 auto;
}

#control-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #060603;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#control-button:hover {
  background-color: #e80d0d;
}
